<div class="container">
  <nav>
    <div class="category" (mouseover)="hover(1)" (mouseleave)="leave()"[ngClass]="{'active': tabIndex === 1}">
      <form action="https://www.google.com/search" class="searchform" method="get" name="searchform">
        <input autocomplete="on" class="form-control search" name="q" placeholder="Search on Google" required="required"  type="text" autocomplete="off">
      </form>
    </div>
    <div class="category general" id="prova" (mouseover)="hover(2)" (mouseleave)="leave()" [ngClass]="{'active': tabIndex === 2}">
      general
    </div>
    <div class="category reddit" (mouseover)="hover(3)" (mouseleave)="leave()" [ngClass]="{'active': tabIndex === 3}">
      reddit
    </div>
    <div class="category entertainment" (mouseover)="hover(4)" (mouseleave)="leave()" [ngClass]="{'active': tabIndex === 4}">
      entertainment
    </div>
    <div class="category education" (mouseover)="hover(5)" (mouseleave)="leave()" [ngClass]="{'active': tabIndex === 5}">
      education
    </div>
  </nav>
  <div class="main">
    <app-welcome *ngIf="tabIndex === 1"[@inOutAnimation]></app-welcome>
    <app-general *ngIf="tabIndex === 2"[@inOutAnimation]></app-general>
    <app-reddit *ngIf="tabIndex === 3"[@inOutAnimation]></app-reddit>
    <app-entertainment *ngIf="tabIndex === 4"[@inOutAnimation]></app-entertainment>
    <app-education *ngIf="tabIndex === 5"[@inOutAnimation]></app-education>
   </div>
</div>


